<main class="main account-page">
{%- include "page-header" -%}
<!-- End PageHeader -->
<div class="page-content mt-10 mb-10">
  <div class="container pt-1">
    <div class="login-popup">
    <div class="form-box">
        <h3 id="RecoverHeading" class="title title-simple text-left">{{ 'customer.register.register' | t }}</h3>
          {%- assign formId = 'RegisterForm' -%}
          {% form 'create_customer', id: formId, novalidate: 'novalidate' %}
          {% include 'form-status', form: form, form_id: formId %}

          <div class="form-group">
              <label for="{{ formId }}-FirstName">{{ 'customer.register.first_name' | t }}</label>
              <input class="form-control" type="text" name="customer[first_name]" id="{{ formId }}-FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocomplete="given-name">
          </div>
          <div class="form-group">
              <label for="{{ formId }}-LastName">{{ 'customer.register.last_name' | t }}</label>
              <input class="form-control" type="text" name="customer[last_name]" id="{{ formId }}-LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocomplete="family-name">    
          </div>

          <div class="form-group">
              <label for="{{ formId }}-email">{{ 'customer.register.email' | t }}</label>
              <input
                  type="email"
                  name="customer[email]"
                  id="{{ formId }}-email"
                  class="form-control{% if form.errors contains 'email' %} input--error{% endif %}"
                  {% if form.email %} value="{{ form.email }}"{% endif %}
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="email"
                  aria-required="true"
                  {%- if form.errors contains 'email' -%}
                  class="input--error"
                  aria-invalid="true"
                  aria-describedby="{{ formId }}-email-error"
                  {%- endif -%}
              >
              {%- if form.errors contains 'email' -%}
                  <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
              {%- endif -%}
          </div>

          <div class="form-group">
              <label for="{{ formId }}-password">{{ 'customer.register.password' | t }}</label>
              <input
                  type="password"
                  name="customer[password]"
                  id="{{ formId }}-password"
                  class="form-control{% if form.errors contains 'password' %} input--error{% endif %}"
                  aria-required="true"
                  {%- if form.errors contains 'password' -%}
                  class="input--error"
                  aria-invalid="true"
                  aria-describedby="{{ formId }}-password-error"
                  {%- endif -%}
              >
              {%- if form.errors contains 'password' -%}
                  <span>{{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.</span>
              {%- endif -%}
          </div>

          <div class="form-footer">
              <div class="form-checkbox">
                  <input type="checkbox" class="custom-checkbox" id="register-agree" name="register-agree" required />
                  <label class="form-control-label font-secondary" for="register-agree">
                      {{- "customer.register.terms" | t -}}
                  </label>
              </div>
          </div>

          <button class="btn btn-primary btn-block btn-disabled btn-signup" type="submit">{{ 'customer.register.submit' | t }}</button>

          {% endform %}
    </div>
    </div>
  </div>
</div>
</main>