<section class="mt-{{ section.settings.mt}} mb-{{ section.settings.mb}} pt-{{ section.settings.pt}} pb-{{ section.settings.pb}} mt-lg-{{ section.settings.mt_lg}} mb-lg-{{ section.settings.mb_lg}} pt-lg-{{ section.settings.pt_lg}} pb-lg-{{ section.settings.pb_lg}} appear-animate" id="{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="our-clients-section" data-animation-options="{
    'delay': '.3s'
}">
    <div class="{% if section.settings.has_container %}container{% endif %}">
        <h2 class="title">{{ section.settings.title }}</h2>
        <div class="owl-carousel owl-theme row brand-carousel cols-xl-6 cols-lg-5 cols-md-4 cols-sm-3 cols-2 pt-4 pb-4"
            data-owl-options="{
            'nav': false,
            'dots': false,
            'autoplay': true,
            'margin': 20,
            'loop': true,
            'responsive': {
                '0': {
                    'items': 2
                },
                '576': {
                    'items': 3
                },
                '768': {
                    'items': 4
                },
                '992': {
                    'items': 5
                },
                '1200': {
                    'items': 6
                }
            }
        }">
            {% if section.blocks.size > 0 %}
            {% for block in section.blocks %}
            <figure>
                {% if block.settings.image != blank %}
                <img src="{{ block.settings.image | img_url: '180x100', scale: 2 }}" alt="brand" width="180" height="100" />
                {% else %}
                {{ 'image' | placeholder_svg_tag }}
                {% endif %}
            </figure>
            {% endfor %}
            {% else %}
            {% for i in (1..6) %}
            <figure style="background-color:#eee">{{ 'image' | placeholder_svg_tag }}
            </figure>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Our Clients",
    "class": "index-section index-section--parallax-banner",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "checkbox",
            "id": "has_container",
            "label": "Within container",
            "default": true
        },
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Our clients"
        },
        {
            "type": "header",
            "content": "Spacing (large screen)"
        },
        {
            "type": "range",
            "id": "mt_lg",
            "label": "Margin top",
            "unit": "x",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 8
        },
        {
            "type": "range",
            "id": "pt_lg",
            "label": "Padding top",
            "unit": "x",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb_lg",
            "label": "Margin bottom",
            "unit": "x",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb_lg",
            "label": "Padding bottom",
            "unit": "x",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "header",
            "content": "Spacing (mobile screen)"
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Margin top",
            "unit": "x",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 5
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "unit": "x",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Margin bottom",
            "unit": "x",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "unit": "x",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        }
    ],
    "blocks": [
        {
            "type": "client",
            "name": "Client",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Client image"
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "Our Clients",
        "category": "Fastor"
      }
    ] 
}
{% endschema %}