<section class="banner-mass container{% unless section.settings.has_container %}-fluid{% endunless %} mt-{{ section.settings.mt}} mb-{{ section.settings.mb}} pt-{{ section.settings.pt}} pb-{{ section.settings.pb}} mt-lg-{{ section.settings.mt_lg}} mb-lg-{{ section.settings.mb_lg}} pt-lg-{{ section.settings.pt_lg}} pb-lg-{{ section.settings.pb_lg}}" id="{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="couple-banner-section">
    <div class="row gutter-lg">
        <div class="col-md-6">
            <div class="rt-banner content-below d-flex flex-column appear-animate">
                {% if section.settings.image_1 != blank %}
                <figure class="hover-zoom">
                    <img src="{{ section.settings.image_1 | img_url: '600x400', scale: 2 }}" width="600" height="400" alt="banner" />
                </figure>
                {% else %}
                <figure style="min-height:400px;background-color:#ccc;"></figure>
                {% endif %}
                <div class="banner-content text-center pt-3 pb-3 pb-md-0 pt-md-8">
                    <div class="appear-animate" data-animation-options="{
                        'name': 'fadeInUpShorter',
                        'delay': '.2s'
                    }">
                        <p class="text-{{ section.settings.color_text_1 }} mb-1 fs-custom" style="--fs:{{ section.settings.fs_description_1 }}rem">{{ section.settings.description_1 }}</p>
                        <h3 class="banner-title font-weight-slight-bold ls-m text-{{ section.settings.color_text_1 }} mt-0 mb-4 fs-custom" style="--fs:{{ section.settings.fs_title_1 }}rem">{{ section.settings.title_1 }}</h3>
                        {% if section.settings.button_text_1 != blank %}
                        <a href="{{ section.settings.button_url_1 | default: 'javascript:void(0);' }}" class="btn btn-small btn-primary btn-shadow-lg btn-ellipse text-normal">{{ section.settings.button_text_1 }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="rt-banner content-above d-flex flex-column appear-animate">
                {% if section.settings.image_2 != blank %}
                <figure class="hover-zoom">
                    <img src="{{ section.settings.image_2 | img_url: '600x400', scale: 2 }}" width="600" height="400" alt="banner" />
                </figure>
                {% else %}
                <figure style="min-height:400px;background-color:#ccc;"></figure>
                {% endif %}
                <div class="banner-content text-center pt-3 pb-3 pt-md-0 pb-md-8">
                    <div class="appear-animate" data-animation-options="{
                        'name': 'fadeInUpShorter',
                        'delay': '.2s'
                    }">
                        <p class="text-{{ section.settings.color_text_2 }} mb-1 fs-custom" style="--fs:{{ section.settings.fs_description_2 }}rem">{{ section.settings.description_2 }}</p>
                        <h3 class="banner-title font-weight-slight-bold ls-m text-{{ section.settings.color_text_2 }} mt-0 mb-4 fs-custom" style="--fs:{{ section.settings.fs_title_2 }}rem">{{ section.settings.title_2 }}</h3>
                        {% if section.settings.button_text_2 != blank %}
                        <a href="{{ section.settings.button_url_2 | default: 'javascript:void(0);' }}" class="btn btn-small btn-primary btn-shadow-lg btn-ellipse text-normal">{{ section.settings.button_text_2 }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% schema %}
{
    "name": "Couple Banner",
    "class": "index-section index-section--couple-banner",
    "settings": [
        {
            "type": "header",
            "content": "Layout"
        },
        {
            "type": "checkbox",
            "id": "has_container",
            "label": "Within container",
            "default": true
        },
        {
            "type": "header",
            "content": "Banner #1"
        },
        {
            "type": "image_picker",
            "id": "image_1",
            "label": "Background image"
        },
        {
            "type": "textarea",
            "id": "title_1",
            "label": "Title",
            "default": "Banner title"
        },
        {
            "type": "textarea",
            "id": "description_1",
            "label": "Description"
        },
        {
            "type": "text",
            "id": "button_text_1",
            "label": "Button text",
            "default": "Shop now"
        },
        {
            "type": "url",
            "id": "button_url_1",
            "label": "Button URL"
        },
        {
            "type": "select",
            "id": "color_text_1",
            "label": "Text color",
            "options": [
                {
                    "value": "white",
                    "label": "White",
                    "group": "Basic"
                },
                {
                    "value": "black",
                    "label": "Black",
                    "group": "Basic"
                },
                {
                    "value": "primary",
                    "label": "Primary",
                    "group": "From settings"
                },
                {
                    "value": "dark",
                    "label": "Dark",
                    "group": "From settings"
                }
            ],
            "default": "black"
        },
        {
            "type": "range",
            "id": "fs_title_1",
            "label": "Title font size",
            "unit": "x",
            "min": 1,
            "max": 6,
            "step": 0.1,
            "default": 4
        },
        {
            "type": "range",
            "id": "fs_description_1",
            "label": "Description font size",
            "unit": "x",
            "min": 1,
            "max": 6,
            "step": 0.1,
            "default": 2.2
        },
        {
            "type": "header",
            "content": "Banner #2"
        },
        {
            "type": "image_picker",
            "id": "image_2",
            "label": "Background image"
        },
        {
            "type": "textarea",
            "id": "title_2",
            "label": "Title",
            "default": "Banner title"
        },
        {
            "type": "textarea",
            "id": "description_2",
            "label": "Description"
        },
        {
            "type": "text",
            "id": "button_text_2",
            "label": "Button text",
            "default": "Shop now"
        },
        {
            "type": "url",
            "id": "button_url_2",
            "label": "Button URL"
        },
        {
            "type": "select",
            "id": "color_text_2",
            "label": "Text color",
            "options": [
                {
                    "value": "white",
                    "label": "White",
                    "group": "Basic"
                },
                {
                    "value": "black",
                    "label": "Black",
                    "group": "Basic"
                },
                {
                    "value": "primary",
                    "label": "Primary",
                    "group": "From settings"
                },
                {
                    "value": "dark",
                    "label": "Dark",
                    "group": "From settings"
                }
            ],
            "default": "black"
        },
        {
            "type": "range",
            "id": "fs_title_2",
            "label": "Title font size",
            "unit": "x",
            "min": 1,
            "max": 6,
            "step": 0.1,
            "default": 4
        },
        {
            "type": "range",
            "id": "fs_description_2",
            "label": "Description font size",
            "unit": "x",
            "min": 1,
            "max": 6,
            "step": 0.1,
            "default": 2.2
        },
        {
            "type": "header",
            "content": "Spacing (large screen)"
        },
        {
            "type": "range",
            "id": "mt_lg",
            "label": "Margin top",
            "unit": "x",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 8
        },
        {
            "type": "range",
            "id": "pt_lg",
            "label": "Padding top",
            "unit": "x",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb_lg",
            "label": "Margin bottom",
            "unit": "x",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb_lg",
            "label": "Padding bottom",
            "unit": "x",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "header",
            "content": "Spacing (mobile screen)"
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Margin top",
            "unit": "x",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 5
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "unit": "x",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Margin bottom",
            "unit": "x",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "unit": "x",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        }
    ],
    "presets": [
        {
            "name": "Couple Banner",
            "category": "Fastor"
        }
    ]
}
{% endschema %}