{% comment %}
  Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
{% endcomment %}
{% if  section.settings.newsletter_enable %}
{% capture form_content %}
{% if section.settings.page_type == "subscribe_form" %}
{% form 'customer', id: 'ContactPassword', class: 'contact-form' %}
  {%- assign formId = 'PasswordNewsletterForm' -%}
  <input type="hidden" name="contact[tags]" value="prospect, password page">
  {%- if form.posted_successfully? -%}
    <p class="form-message form-message--success" tabindex="-1" data-form-status>
      {{ 'general.password_page.signup_form_success' | t }}
    </p>
  {%- endif -%}
  <div class="input-wrapper input-wrapper-round d-flex">
<input
      type="email"
      name="contact[email]"
      id="{{ formId }}-email"
      class="form-control font-primary text-dark {% if form.errors contains 'email' %} input--error{% endif %}"
      placeholder="{{ section.settings.newsletter_placeholder | escape }}"
      {%- if form.errors contains 'email' -%}
        aria-invalid="true"
        aria-describedby="{{ formId }}-email-error"
        data-form-status
      {%- endif -%}
    >
    <button class="btn btn-primary ml-2" type="submit">{{ section.settings.newsletter_button_text | escape }}</button>
  </div>
{% endform %}
{% elsif section.settings.page_type == "password_form" %}


{%- assign formId = 'PasswordLoginForm' -%}
{% form 'storefront_password', id: formId, class: 'contact-form' %}
  {%- assign formId = 'PasswordNewsletterForm' -%}
  <input type="hidden" name="contact[tags]" value="prospect, password page">
  {%- if form.posted_successfully? -%}
    <p class="form-message form-message--success" tabindex="-1" data-form-status>
      {{ 'general.password_page.signup_form_success' | t }}
    </p>
  {%- endif -%}
  <div class="input-wrapper input-wrapper-round d-flex">
    <input type="password" name="password"
      id="Password"
      class="form-control font-primary text-dark {% if form.errors contains 'email' %} input--error{% endif %}"
      placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
      data-login-field
      autocomplete="off"
      aria-labelledby="PasswordLabel {% if form.errors %} {{ formId }}-password-error{% endif %}"
      {% if form.errors %}
        data-error="password"
        aria-invalid="true"
      {%- endif -%}
    >
      <button class="btn btn-primary ml-2" type="submit" name="commit">{{ section.settings.newsletter_button_text | escape }}</button>
  </div>
  <p class="mt-6 fs-1p5 password-content">{{ 'general.password_page.admin_link_html' | t }}</p>
{% endform %}
{% endif %}

{% endcapture %}
{% endif %}
{% capture logo_image %}
{% if section.settings.logo_image != blank %}
<div class="logo" style="max-width:155px">
  <img class="lazyload" data-src="{{ section.settings.logo_image |img_url: "master" }}" alt="{{ section.settings.newsletter_form_heading }}" width="200" height="50">
</div>
{% endif %}
{% endcapture %}

{% capture text_content %}
<div class="password-countdown">
  {% if section.settings.countdown != blank %}
    <div class="countdown countdown-coming bg-{{ section.settings.text_color }} text-{%  if section.settings.text_color == "white" %}dark{% else %}white{% endif %}" data-label-short="true" data-until="{{ section.settings.countdown }}">00:00:00</div>
  {% endif %}
  {% if section.settings.newsletter_form_heading != blank %}
  <h1 class="text-{{ section.settings.text_color }}">{{ section.settings.newsletter_form_heading }}</h1>
  {% endif %}
</div>
{% if section.settings.page_type != "default" %}<div class="password-line"></div>{% endif %}
{% if section.settings.newsletter_form_subheading != blank %}
<p class="" {% if section.settings.page_type != "default" %}{% endif %}>{{section.settings.newsletter_form_subheading}}</p>
{% endif %}
{% endcapture %}

<div class="page-content page-password-content"{% if section.settings.image != blank %} style="background-image:url({{ section.settings.image |img_url: 'master' }})"{% endif %}>
  {% if section.settings.overlay %}
  <div class="password-overlay"></div>
  {% endif %}
  <section class="coming-section container">
      <div class="row password-content-{{ section.settings.page_type }}">
        {{logo_image}}
        <div class="content-password text-{{ section.settings.text_color }}{% if section.settings.page_type == "default" %} text-center{% endif %}">
          {{text_content}}
          {{form_content}}
        </div>
      </div>
  </section>
</div>
{% schema %}
{
  "name": "Content",
  "settings": [
  {
    "type": "select",
    "id": "page_type",
    "label": "Type",
    "options": [
      {
        "value": "default",
        "label": "Default"
      },
      {
        "value": "subscribe_form",
        "label": "Subscribe form"
      },
      {
        "value": "password_form",
        "label": "Password form"
      }
    ]
  },
  
  {
    "type": "checkbox",
    "id": "overlay",
    "label" : "Overlay"
  },
    {
      "type": "image_picker",
      "id": "image",
      "label" : "Image"
    }, {
      "type": "image_picker",
      "id": "logo_image",
      "label" : "Logo"
    },
    
    {
      "type": "select",
      "id": "text_color",
      "label": "Text Color",
      "default": "white",
      "options": [
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "dark",
          "label": "Dark"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": "Enable Form ?",
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": "Heading",
      "default": "Coming Soon"
    },
    {
      "type": "html",
      "id": "newsletter_form_subheading",
      "label": "Subheading",
      "default":"<p>We are currently working on an awesome new site. Stay tuned for more information. Subscribe to our newsletter to stay updated on our progress.</p>"
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": "Placeholder text",
      "default": "Enter Your Email Address"
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label":  "Button text",
      "default": "Submit"
    },
    {
      "type": "text",
      "id": "countdown",
      "label": "Countdown",
      "info": "format mm-dd-yyyy"
    }
  ]
}
{% endschema %}
