<div class="container{%-if section.settings.product_fullwidth-%}-fluid{%-endif-%}">
  <div class="product-description">
    <div class="row mt-6">
      <div class="col-md-{% if section.settings.featured_image != blank %}6{% else %}12{% endif %}">
        <div class="description">
          {{ product.description }}
        </div>
        {% if section.settings.product_promotions %}
        <div class="row">
          {% for i in (1..4) %}
          {% assign s_promotion_icon = "product_promotion_icon_" | append: i %}
          {% assign s_promotion_text = "product_promotion_text_" | append: i %}
          <div class="col-md-6">
            <div class="icon-box icon-box-side justify-content-start mb-2">
              <span class="icon-box-icon">
                  {{ section.settings[s_promotion_icon] }}
              </span>
              <div class="icon-box-content">
                  <p>{{ section.settings[s_promotion_text] }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {% if section.settings.featured_image != blank %}
      <div class="col-md-6">
        <div class="image">
          <img src="{{ section.settings.featured_image | img_url: 'master' }}" />
        </div>
      </div>
      {% endif %}
    </div>
    {% if section.settings.product_images %}
    <div class="row mt-6 mt-lg-18">
      <div class="col-md-6">
        {% if section.settings.product_image_1 != blank %}
        <div class="image">
          <img class="w-100" src="{{ section.settings.product_image_1 | img_url: "master" }}" />
        </div>
        {% else %}
        <div class="image" style="background-color:#ccc;">
          {{ 'image' | placeholder_svg_tag }}
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        <div class="row">
        {% for i in (2..5) %}
        {% assign s_image = "product_image_" | append : i %}
        {% if section.settings[s_image] != blank %}
          <div class="col-md-6 image {% cycle "pb-md-3",  "pb-md-3", "", "" %}">
            <img class="w-100" src="{{ section.settings[s_image] | img_url: "master" }}" />
          </div>
        {% else %}
        <div class="col-md-6 image {% cycle "pb-md-3",  "pb-md-3", "", "" %}" style="background-color:{% cycle '#e1e1e1',  '#ccc', '#ccc', '#e1e1e1' %}">
          {{ 'image' | placeholder_svg_tag }}
        </div>
        {% endif %}
        {% endfor %}
        </div>  
      </div>
      
    </div>
    {% endif %}  
  </div>
</div>

{% schema %}
{
  "name": "Product - Description",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "product_fullwidth",
      "label": "Full Width",
      "default": false
    },
    {
      "type": "header",
      "content": "Featured image"
    },
    {
      "type": "image_picker",
      "id": "featured_image",
      "label": "Image",
      "info": "An image included in the description"
    },
    {
      "type": "header",
      "content": "Promotions"
    },
    {
      "type": "checkbox",
      "label": "Enable",
      "id": "product_promotions"
    },
    {
      "type": "header",
      "content": "Promotion #1"
    },
    {
      "type": "html",
      "label": "SVG HTML",
      "id": "product_promotion_icon_1"
    },
    {
      "type": "text",
      "label": "Text",
      "id": "product_promotion_text_1"
    },
    {
      "type": "header",
      "content": "Promotion #2"
    },
    {
      "type": "html",
      "label": "SVG HTML",
      "id": "product_promotion_icon_2"
    },
    {
      "type": "text",
      "label": "Text",
      "id": "product_promotion_text_2"
    },
    {
      "type": "header",
      "content": "Promotion #3"
    },
    {
      "type": "html",
      "label": "SVG HTML",
      "id": "product_promotion_icon_3"
    },
    {
      "type": "text",
      "label": "Text",
      "id": "product_promotion_text_3"
    },
    {
      "type": "header",
      "content": "Promotion #4"
    },
    {
      "type": "html",
      "label": "SVG HTML",
      "id": "product_promotion_icon_4"
    },
    {
      "type": "text",
      "label": "Text",
      "id": "product_promotion_text_4"
    },
    {
      "type": "header",
      "content": "Product galleries"
    },
    {
      "type": "checkbox",
      "label": "Enable",
      "id": "product_images"
    },
    
    {
      "type": "image_picker",
      "label": "Image #1",
      "id": "product_image_1"
    },
    {
      "type": "image_picker",
      "label": "Image #2",
      "id": "product_image_2"
    },
    {
      "type": "image_picker",
      "label": "Image #3",
      "id": "product_image_3"
    },
    {
      "type": "image_picker",
      "label": "Image #4",
      "id": "product_image_4"
    },
    {
      "type": "image_picker",
      "label": "Image #5",
      "id": "product_image_5"
    }
  ]
}
{% endschema %}